<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Authorization</h1>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<br>

<form th:action="@{/authorization}" method="post">
    <div>
        <div>
            <input name="username" placeholder="Email" type="email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Email example: roman@cockmail.com"/>
        </div>
        <br>

        <div>
            <input type="password" name="password" placeholder="Password"
                   pattern="[A-Za-z0-9]{1,15}" title="Password should only contain letters. e.g. John"/>
        </div>
        <br>

        <div><input type="submit" value="Sign In"></div>
    </div>
</form>
<br>

<a th:href="@{/registration}">registration</a>

</body>
</html>