<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Authorization</h1>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<br>

<form th:action="@{/authorization}" th:object="${user}" method="post">
    <div>
        <div><label> User Name :
            <input type="text" name="username" placeholder="Login"
                   pattern="[A-Za-z0-9]{1,15}" title="Login should only contain letters. e.g. John"/>
        </label></div>

        <br>

        <div><label> Password :
        <input type="password" name="password" placeholder="Password"
               pattern="[A-Za-z0-9]{1,15}" title="Password should only contain letters. e.g. John"/>
        </label></div>

        <br>

        <div><input type="submit" value="Sign In"></div>
    </div>
</form>

</body>
</html>