<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:action="@{/registration}" th:object="${user}" method="post">
    <div>
        <input type="text" name="username" placeholder="user name"/>
    </div>
    <div>
        <input type="email" name="email" placeholder="email"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="password"/>
    </div>
    <div>
        <input type="password" name="matchingPassword" placeholder="confirm password"/>
    </div>
    <input type="submit" value="submit">
</form>

<br>
<a th:href="@{/authorization}">login</a>

</body>
</html>